pre .pun { color: #f0932b; } /* punctuation */
pre .kwd { color: #eb4d4b; } /* keyword */
pre .pln { color: #dff9fb; } /* plaintext */
pre .com { color: #6ab04c; font-style: italic; } /* comment */
pre .str { color: #be2edd; } /* string */
pre .dec { color: #686de0; } /* decimal - blue */
pre .typ { color: #89bdff; } /* type/object - light blue */
pre .lit { color: #3387CC; } /* literal - blue */
pre .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv { color: #65B042; } /* html/xml attribute value - green */

.codememo pre,pre.prettyprint{
    margin:10px;
    max-width: 80em;
    border-radius:5px;
    white-space: pre-wrap;
    padding: 1em !important;
    border: 1px solid #888;
}